<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings >
	<add name="EasyDataSQLSERVER" connectionString="Data Source=CASPER\SQLEXPRESS;Initial Catalog=SerqAccess_EasyDataSampleDB;Integrated Security=True"/>
	<add name="EasyDataOracle" connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=M3KervjfiM;USER ID=SYSTEM"/>
</connectionStrings>
</configuration>